@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch&display=swap');

body {
  background: #f1c40f;
}

.d-flex .jumbotron{
    background-color: rgba(241, 196, 13,0.9);
    border: 5px solid #1aa4ce;
    
}

header div .riddle img {
    max-height: 100px;
    background-color: white;
    border: 3px solid #1aa4ce;
    /* border-radius: 50%; */
}

header div .riddle h1 {
    color: #fff;
    font-family: 'Londrina Sketch', sans-serif;
}

btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fff!important;
    color: #1d809f!important;
    border: 3px solid #1d809f;
}

header div a i {
    font-size: 20px;
}

footer .row {
    text-align: center;
    color: #fff;
}

footer .row {
    font-size: 20px;
}
